# [Simple Logistic Regression for Employee Attrition | Kaggle](https://www.kaggle.com/emadafaqkhan/simple-logistic-regression-for-employee-attrition)

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
import statsmodels.api as sm
import pylab as pl
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

In [4]:
# The code was removed by DSX for sharing.

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
names = dataframe.columns.values 
print(names)

['Age' 'Attrition' 'BusinessTravel' 'DailyRate' 'Department'
 'DistanceFromHome' 'Education' 'EducationField' 'EmployeeCount'
 'EmployeeNumber' 'EnvironmentSatisfaction' 'Gender' 'HourlyRate'
 'JobInvolvement' 'JobLevel' 'JobRole' 'JobSatisfaction' 'MaritalStatus'
 'MonthlyIncome' 'MonthlyRate' 'NumCompaniesWorked' 'Over18' 'OverTime'
 'PercentSalaryHike' 'PerformanceRating' 'RelationshipSatisfaction'
 'StandardHours' 'StockOptionLevel' 'TotalWorkingYears'
 'TrainingTimesLastYear' 'WorkLifeBalance' 'YearsAtCompany'
 'YearsInCurrentRole' 'YearsSinceLastPromotion' 'YearsWithCurrManager']

In [6]:
dataframe.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.0+ KB

In [8]:
dataframe.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [9]:
dataframe.std()

Age                            9.135373
DailyRate                    403.509100
DistanceFromHome               8.106864
Education                      1.024165
EmployeeCount                  0.000000
EmployeeNumber               602.024335
EnvironmentSatisfaction        1.093082
HourlyRate                    20.329428
JobInvolvement                 0.711561
JobLevel                       1.106940
JobSatisfaction                1.102846
MonthlyIncome               4707.956783
MonthlyRate                 7117.786044
NumCompaniesWorked             2.498009
PercentSalaryHike              3.659938
PerformanceRating              0.360824
RelationshipSatisfaction       1.081209
StandardHours                  0.000000
StockOptionLevel               0.852077
TotalWorkingYears              7.780782
TrainingTimesLastYear          1.289271
WorkLifeBalance                0.706476
YearsAtCompany                 6.126525
YearsInCurrentRole             3.623137
YearsSinceLastPromotion        3.222430
YearsWithCurrManager           3.568136
dtype: float64

In [10]:
dataframe['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [11]:
dataframe['Attrition'].dtypes

dtype('O')

In [12]:
dataframe['Attrition'].replace('Yes',1, inplace=True)
dataframe['Attrition'].replace('No',0, inplace=True)

In [13]:
dataframe.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,0,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,0,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,0,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,0,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,0,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [14]:
dataframe['EducationField'].replace('Life Sciences',1, inplace=True)
dataframe['EducationField'].replace('Medical',2, inplace=True)
dataframe['EducationField'].replace('Marketing', 3, inplace=True)
dataframe['EducationField'].replace('Other',4, inplace=True)
dataframe['EducationField'].replace('Technical Degree',5, inplace=True)
dataframe['EducationField'].replace('Human Resources', 6, inplace=True)

In [15]:
dataframe['EducationField'].value_counts()

1    606
2    464
3    159
5    132
4     82
6     27
Name: EducationField, dtype: int64

In [16]:
dataframe['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [17]:
dataframe.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,2,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,0,Travel_Frequently,1005,Research & Development,2,2,1,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,0,Travel_Rarely,1324,Research & Development,3,3,2,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,0,Travel_Rarely,1358,Research & Development,24,1,1,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,0,Travel_Frequently,216,Research & Development,23,3,1,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,0,Travel_Rarely,1299,Research & Development,27,3,2,1,13,...,2,80,2,17,3,2,7,7,7,7

In [18]:
dataframe['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [19]:
dataframe['BusinessTravel'].replace('Travel_Rarely',1, inplace=True)
dataframe['BusinessTravel'].replace('Travel_Frequently',2, inplace=True)
dataframe['BusinessTravel'].replace('Non-Travel',3, inplace=True)

In [20]:
dataframe['BusinessTravel'].value_counts()

1    1043
2     277
3     150
Name: BusinessTravel, dtype: int64

In [21]:
dataframe['Gender']

0       Female
1         Male
2         Male
3       Female
4         Male
5         Male
6       Female
7         Male
8         Male
9         Male
10        Male
11      Female
12        Male
13        Male
14        Male
15      Female
16        Male
17        Male
18      Female
19        Male
20      Female
21        Male
22      Female
23        Male
24        Male
25      Female
26      Female
27        Male
28      Female
29      Female
         ...
1440    Female
1441      Male
1442      Male
1443      Male
1444      Male
1445    Female
1446    Female
1447      Male
1448      Male
1449      Male
1450    Female
1451    Female
1452      Male
1453    Female
1454    Female
1455      Male
1456      Male
1457    Female
1458    Female
1459      Male
1460    Female
1461      Male
1462    Female
1463      Male
1464    Female
1465      Male
1466      Male
1467      Male
1468      Male
1469      Male
Name: Gender, dtype: object

In [22]:
dataframe['Gender'].replace('Male',1, inplace=True)
dataframe['Gender'].replace('Female',0, inplace=True)
dataframe['Gender']

0       0
1       1
2       1
3       0
4       1
5       1
6       0
7       1
8       1
9       1
10      1
11      0
12      1
13      1
14      1
15      0
16      1
17      1
18      0
19      1
20      0
21      1
22      0
23      1
24      1
25      0
26      0
27      1
28      0
29      0
       ..
1440    0
1441    1
1442    1
1443    1
1444    1
1445    0
1446    0
1447    1
1448    1
1449    1
1450    0
1451    0
1452    1
1453    0
1454    0
1455    1
1456    1
1457    0
1458    0
1459    1
1460    0
1461    1
1462    0
1463    1
1464    0
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Gender, dtype: int64

In [23]:
dataframe.dtypes

Age                          int64
Attrition                    int64
BusinessTravel               int64
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField               int64
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                       int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [24]:
x=dataframe.select_dtypes(include=['int64'])
x.dtypes
x.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [25]:
L = dataframe.columns[1:]
y=dataframe['Attrition']

In [26]:
y, x = dmatrices('Attrition ~ Age + BusinessTravel + DailyRate + Department + \
                  DistanceFromHome + Education + EducationField + YearsAtCompany',
                  dataframe, return_type="dataframe")
print (x.columns)

Index(['Intercept', 'Department[T.Research & Development]',
       'Department[T.Sales]', 'Age', 'BusinessTravel', 'DailyRate',
       'DistanceFromHome', 'Education', 'EducationField', 'YearsAtCompany'],
      dtype='object')

In [27]:
y = np.ravel(y)

In [28]:
model = LogisticRegression()
model = model.fit(x, y)

# check the accuracy on the training set
model.score(x, y)

0.84081632653061222

In [29]:
y.mean()

0.16122448979591836

In [30]:
X_train,X_test,y_train,y_test=train_test_split(x,y, test_size=0.3, random_state=0)
model2=LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [31]:
predicted= model2.predict(X_test)
print (predicted)

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.]

In [32]:
probs = model2.predict_proba(X_test)
print (probs)

[[ 0.83610105  0.16389895]
 [ 0.80509369  0.19490631]
 [ 0.69964944  0.30035056]
 [ 0.87203594  0.12796406]
 [ 0.72356332  0.27643668]
 [ 0.75604229  0.24395771]
 [ 0.83976565  0.16023435]
 [ 0.86450138  0.13549862]
 [ 0.95151836  0.04848164]
 [ 0.92985775  0.07014225]
 [ 0.96340883  0.03659117]
 [ 0.81244169  0.18755831]
 [ 0.88198354  0.11801646]
 [ 0.86928004  0.13071996]
 [ 0.90114296  0.09885704]
 [ 0.91372585  0.08627415]
 [ 0.88648961  0.11351039]
 [ 0.78921486  0.21078514]
 [ 0.76796682  0.23203318]
 [ 0.89860505  0.10139495]
 [ 0.71370542  0.28629458]
 [ 0.9501217   0.0498783 ]
 [ 0.86035457  0.13964543]
 [ 0.8223818   0.1776182 ]
 [ 0.63435797  0.36564203]
 [ 0.77165887  0.22834113]
 [ 0.91957367  0.08042633]
 [ 0.93675592  0.06324408]
 [ 0.63085626  0.36914374]
 [ 0.85167849  0.14832151]
 [ 0.85708255  0.14291745]
 [ 0.8402673   0.1597327 ]
 [ 0.88023846  0.11976154]
 [ 0.95519088  0.04480912]
 [ 0.87863641  0.12136359]
 [ 0.88337083  0.11662917]
 [ 0.88996727  0.11003273]
 [ 0.68159639  0.31840361]
 [ 0.88911276  0.11088724]
 [ 0.8014536   0.1985464 ]
 [ 0.89702214  0.10297786]
 [ 0.83062094  0.16937906]
 [ 0.92584595  0.07415405]
 [ 0.9053937   0.0946063 ]
 [ 0.90573615  0.09426385]
 [ 0.83322285  0.16677715]
 [ 0.78778445  0.21221555]
 [ 0.85963477  0.14036523]
 [ 0.65499104  0.34500896]
 [ 0.77675249  0.22324751]
 [ 0.9406818   0.0593182 ]
 [ 0.80201839  0.19798161]
 [ 0.80576239  0.19423761]
 [ 0.87175314  0.12824686]
 [ 0.86945381  0.13054619]
 [ 0.75948967  0.24051033]
 [ 0.87985223  0.12014777]
 [ 0.79891932  0.20108068]
 [ 0.81428568  0.18571432]
 [ 0.77811673  0.22188327]
 [ 0.90945381  0.09054619]
 [ 0.73824832  0.26175168]
 [ 0.91881406  0.08118594]
 [ 0.88639359  0.11360641]
 [ 0.77809867  0.22190133]
 [ 0.8739676   0.1260324 ]
 [ 0.92946782  0.07053218]
 [ 0.85768263  0.14231737]
 [ 0.90302951  0.09697049]
 [ 0.71781121  0.28218879]
 [ 0.94980396  0.05019604]
 [ 0.73311333  0.26688667]
 [ 0.84170276  0.15829724]
 [ 0.84437499  0.15562501]
 [ 0.78953502  0.21046498]
 [ 0.74182808  0.25817192]
 [ 0.92127276  0.07872724]
 [ 0.95704643  0.04295357]
 [ 0.76465148  0.23534852]
 [ 0.86286357  0.13713643]
 [ 0.8752219   0.1247781 ]
 [ 0.76684065  0.23315935]
 [ 0.71946175  0.28053825]
 [ 0.81985417  0.18014583]
 [ 0.83678721  0.16321279]
 [ 0.6971924   0.3028076 ]
 [ 0.97773344  0.02226656]
 [ 0.95687872  0.04312128]
 [ 0.90257084  0.09742916]
 [ 0.82850497  0.17149503]
 [ 0.69546836  0.30453164]
 [ 0.85497742  0.14502258]
 [ 0.67393084  0.32606916]
 [ 0.85204208  0.14795792]
 [ 0.87409874  0.12590126]
 [ 0.77231852  0.22768148]
 [ 0.70380788  0.29619212]
 [ 0.59595805  0.40404195]
 [ 0.87622867  0.12377133]
 [ 0.89970427  0.10029573]
 [ 0.76231734  0.23768266]
 [ 0.80267819  0.19732181]
 [ 0.9775645   0.0224355 ]
 [ 0.9197515   0.0802485 ]
 [ 0.78012656  0.21987344]
 [ 0.94013829  0.05986171]
 [ 0.87024496  0.12975504]
 [ 0.76994799  0.23005201]
 [ 0.88248788  0.11751212]
 [ 0.86549752  0.13450248]
 [ 0.86019665  0.13980335]
 [ 0.95430222  0.04569778]
 [ 0.93437782  0.06562218]
 [ 0.78790522  0.21209478]
 [ 0.83044673  0.16955327]
 [ 0.89996254  0.10003746]
 [ 0.91309776  0.08690224]
 [ 0.83405017  0.16594983]
 [ 0.95641767  0.04358233]
 [ 0.92862786  0.07137214]
 [ 0.88762527  0.11237473]
 [ 0.86515561  0.13484439]
 [ 0.84136534  0.15863466]
 [ 0.72233007  0.27766993]
 [ 0.88446979  0.11553021]
 [ 0.95625607  0.04374393]
 [ 0.95208868  0.04791132]
 [ 0.81952336  0.18047664]
 [ 0.89439285  0.10560715]
 [ 0.74793932  0.25206068]
 [ 0.97531552  0.02468448]
 [ 0.88909333  0.11090667]
 [ 0.82825432  0.17174568]
 [ 0.8407885   0.1592115 ]
 [ 0.96148938  0.03851062]
 [ 0.96326275  0.03673725]
 [ 0.66035518  0.33964482]
 [ 0.94055169  0.05944831]
 [ 0.73536302  0.26463698]
 [ 0.7923129   0.2076871 ]
 [ 0.82261555  0.17738445]
 [ 0.91698278  0.08301722]
 [ 0.77136497  0.22863503]
 [ 0.90832265  0.09167735]
 [ 0.92134405  0.07865595]
 [ 0.91908528  0.08091472]
 [ 0.96128335  0.03871665]
 [ 0.93993109  0.06006891]
 [ 0.91565968  0.08434032]
 [ 0.68280382  0.31719618]
 [ 0.85898534  0.14101466]
 [ 0.82653274  0.17346726]
 [ 0.79537141  0.20462859]
 [ 0.96597368  0.03402632]
 [ 0.93371217  0.06628783]
 [ 0.93974368  0.06025632]
 [ 0.9779371   0.0220629 ]
 [ 0.72899577  0.27100423]
 [ 0.86119285  0.13880715]
 [ 0.87729717  0.12270283]
 [ 0.93928908  0.06071092]
 [ 0.93726423  0.06273577]
 [ 0.76137049  0.23862951]
 [ 0.72980982  0.27019018]
 [ 0.94900586  0.05099414]
 [ 0.88161515  0.11838485]
 [ 0.79918354  0.20081646]
 [ 0.8086435   0.1913565 ]
 [ 0.7769165   0.2230835 ]
 [ 0.93517875  0.06482125]
 [ 0.88759945  0.11240055]
 [ 0.92767792  0.07232208]
 [ 0.93328473  0.06671527]
 [ 0.70796925  0.29203075]
 [ 0.94566622  0.05433378]
 [ 0.77418554  0.22581446]
 [ 0.78472461  0.21527539]
 [ 0.931389    0.068611  ]
 [ 0.83703061  0.16296939]
 [ 0.79371748  0.20628252]
 [ 0.68064357  0.31935643]
 [ 0.91380439  0.08619561]
 [ 0.9321921   0.0678079 ]
 [ 0.87255318  0.12744682]
 [ 0.94454835  0.05545165]
 [ 0.66823726  0.33176274]
 [ 0.88735691  0.11264309]
 [ 0.83484568  0.16515432]
 [ 0.78375702  0.21624298]
 [ 0.55180706  0.44819294]
 [ 0.71962019  0.28037981]
 [ 0.76603264  0.23396736]
 [ 0.84885108  0.15114892]
 [ 0.84721295  0.15278705]
 [ 0.80254153  0.19745847]
 [ 0.85714868  0.14285132]
 [ 0.72717722  0.27282278]
 [ 0.92630347  0.07369653]
 [ 0.83412765  0.16587235]
 [ 0.90326162  0.09673838]
 [ 0.88642537  0.11357463]
 [ 0.77080454  0.22919546]
 [ 0.68913764  0.31086236]
 [ 0.8659889   0.1340111 ]
 [ 0.78082696  0.21917304]
 [ 0.77435755  0.22564245]
 [ 0.7895968   0.2104032 ]
 [ 0.91044822  0.08955178]
 [ 0.66272526  0.33727474]
 [ 0.86433055  0.13566945]
 [ 0.86779372  0.13220628]
 [ 0.79413034  0.20586966]
 [ 0.8481764   0.1518236 ]
 [ 0.70070218  0.29929782]
 [ 0.93624047  0.06375953]
 [ 0.86834866  0.13165134]
 [ 0.9506023   0.0493977 ]
 [ 0.84669603  0.15330397]
 [ 0.83008619  0.16991381]
 [ 0.85513147  0.14486853]
 [ 0.8841835   0.1158165 ]
 [ 0.57265313  0.42734687]
 [ 0.57611556  0.42388444]
 [ 0.98766331  0.01233669]
 [ 0.61587133  0.38412867]
 [ 0.92717156  0.07282844]
 [ 0.91612972  0.08387028]
 [ 0.73924777  0.26075223]
 [ 0.57737668  0.42262332]
 [ 0.79415388  0.20584612]
 [ 0.95496504  0.04503496]
 [ 0.86983858  0.13016142]
 [ 0.87260788  0.12739212]
 [ 0.91831258  0.08168742]
 [ 0.90611561  0.09388439]
 [ 0.7959999   0.2040001 ]
 [ 0.79435664  0.20564336]
 [ 0.93623236  0.06376764]
 [ 0.76968689  0.23031311]
 [ 0.93125212  0.06874788]
 [ 0.90010289  0.09989711]
 [ 0.69066217  0.30933783]
 [ 0.98184305  0.01815695]
 [ 0.85640064  0.14359936]
 [ 0.88858541  0.11141459]
 [ 0.81548075  0.18451925]
 [ 0.85789966  0.14210034]
 [ 0.90480731  0.09519269]
 [ 0.89093161  0.10906839]
 [ 0.90016257  0.09983743]
 [ 0.80199095  0.19800905]
 [ 0.86978602  0.13021398]
 [ 0.53299397  0.46700603]
 [ 0.88585307  0.11414693]
 [ 0.92447868  0.07552132]
 [ 0.8537336   0.1462664 ]
 [ 0.98679551  0.01320449]
 [ 0.79395396  0.20604604]
 [ 0.65999611  0.34000389]
 [ 0.84921746  0.15078254]
 [ 0.84126487  0.15873513]
 [ 0.85109367  0.14890633]
 [ 0.85152208  0.14847792]
 [ 0.71033862  0.28966138]
 [ 0.87915048  0.12084952]
 [ 0.91065349  0.08934651]
 [ 0.81842689  0.18157311]
 [ 0.85338549  0.14661451]
 [ 0.76160782  0.23839218]
 [ 0.88956809  0.11043191]
 [ 0.78108611  0.21891389]
 [ 0.86485488  0.13514512]
 [ 0.64695876  0.35304124]
 [ 0.88146056  0.11853944]
 [ 0.85904792  0.14095208]
 [ 0.92389959  0.07610041]
 [ 0.83011911  0.16988089]
 [ 0.90951376  0.09048624]
 [ 0.89976033  0.10023967]
 [ 0.82380466  0.17619534]
 [ 0.70232818  0.29767182]
 [ 0.87558749  0.12441251]
 [ 0.77527863  0.22472137]
 [ 0.82434909  0.17565091]
 [ 0.99187862  0.00812138]
 [ 0.86742159  0.13257841]
 [ 0.90269911  0.09730089]
 [ 0.8090894   0.1909106 ]
 [ 0.9328185   0.0671815 ]
 [ 0.84534969  0.15465031]
 [ 0.8727303   0.1272697 ]
 [ 0.78559501  0.21440499]
 [ 0.89145082  0.10854918]
 [ 0.85140517  0.14859483]
 [ 0.87311197  0.12688803]
 [ 0.79536807  0.20463193]
 [ 0.72679271  0.27320729]
 [ 0.89757493  0.10242507]
 [ 0.61175649  0.38824351]
 [ 0.95668726  0.04331274]
 [ 0.87975559  0.12024441]
 [ 0.70504098  0.29495902]
 [ 0.67122203  0.32877797]
 [ 0.8775438   0.1224562 ]
 [ 0.8759138   0.1240862 ]
 [ 0.9785809   0.0214191 ]
 [ 0.86949106  0.13050894]
 [ 0.62521536  0.37478464]
 [ 0.9306183   0.0693817 ]
 [ 0.76796988  0.23203012]
 [ 0.86827699  0.13172301]
 [ 0.89682817  0.10317183]
 [ 0.86926153  0.13073847]
 [ 0.86915068  0.13084932]
 [ 0.762483    0.237517  ]
 [ 0.84869692  0.15130308]
 [ 0.87977265  0.12022735]
 [ 0.75730057  0.24269943]
 [ 0.72703805  0.27296195]
 [ 0.89549802  0.10450198]
 [ 0.53535645  0.46464355]
 [ 0.91562503  0.08437497]
 [ 0.66515367  0.33484633]
 [ 0.62465615  0.37534385]
 [ 0.90826041  0.09173959]
 [ 0.93736895  0.06263105]
 [ 0.86869155  0.13130845]
 [ 0.89183004  0.10816996]
 [ 0.9625182   0.0374818 ]
 [ 0.9141346   0.0858654 ]
 [ 0.93546768  0.06453232]
 [ 0.80630498  0.19369502]
 [ 0.85911686  0.14088314]
 [ 0.79001762  0.20998238]
 [ 0.81596247  0.18403753]
 [ 0.95555639  0.04444361]
 [ 0.84543122  0.15456878]
 [ 0.92756217  0.07243783]
 [ 0.85068872  0.14931128]
 [ 0.8657835   0.1342165 ]
 [ 0.80044554  0.19955446]
 [ 0.83027566  0.16972434]
 [ 0.77866629  0.22133371]
 [ 0.83143944  0.16856056]
 [ 0.9156928   0.0843072 ]
 [ 0.92175222  0.07824778]
 [ 0.66910627  0.33089373]
 [ 0.98980032  0.01019968]
 [ 0.76831291  0.23168709]
 [ 0.82871425  0.17128575]
 [ 0.77827882  0.22172118]
 [ 0.65922425  0.34077575]
 [ 0.74754499  0.25245501]
 [ 0.83986155  0.16013845]
 [ 0.83676694  0.16323306]
 [ 0.85464922  0.14535078]
 [ 0.86225198  0.13774802]
 [ 0.82209346  0.17790654]
 [ 0.89644027  0.10355973]
 [ 0.86912595  0.13087405]
 [ 0.9820197   0.0179803 ]
 [ 0.88829563  0.11170437]
 [ 0.92464013  0.07535987]
 [ 0.87632046  0.12367954]
 [ 0.7834928   0.2165072 ]
 [ 0.94081839  0.05918161]
 [ 0.95163052  0.04836948]
 [ 0.72165807  0.27834193]
 [ 0.91273897  0.08726103]
 [ 0.84565165  0.15434835]
 [ 0.95527822  0.04472178]
 [ 0.88972348  0.11027652]
 [ 0.78428278  0.21571722]
 [ 0.91826478  0.08173522]
 [ 0.7287117   0.2712883 ]
 [ 0.93656618  0.06343382]
 [ 0.92406749  0.07593251]
 [ 0.91043322  0.08956678]
 [ 0.69819658  0.30180342]
 [ 0.91660338  0.08339662]
 [ 0.7650565   0.2349435 ]
 [ 0.91840723  0.08159277]
 [ 0.90124963  0.09875037]
 [ 0.74844922  0.25155078]
 [ 0.88747603  0.11252397]
 [ 0.49139894  0.50860106]
 [ 0.95292408  0.04707592]
 [ 0.65331329  0.34668671]
 [ 0.84974693  0.15025307]
 [ 0.7676766   0.2323234 ]
 [ 0.86033738  0.13966262]
 [ 0.96807206  0.03192794]
 [ 0.83626403  0.16373597]
 [ 0.86727221  0.13272779]
 [ 0.53661495  0.46338505]
 [ 0.82899506  0.17100494]
 [ 0.92796471  0.07203529]
 [ 0.81857731  0.18142269]
 [ 0.8992497   0.1007503 ]
 [ 0.87436346  0.12563654]
 [ 0.63622436  0.36377564]
 [ 0.85839311  0.14160689]
 [ 0.97260142  0.02739858]
 [ 0.90098391  0.09901609]
 [ 0.89842578  0.10157422]
 [ 0.88130799  0.11869201]
 [ 0.82635289  0.17364711]
 [ 0.88898921  0.11101079]
 [ 0.87011769  0.12988231]
 [ 0.86457591  0.13542409]
 [ 0.82405933  0.17594067]
 [ 0.94055947  0.05944053]
 [ 0.85066752  0.14933248]
 [ 0.72733536  0.27266464]
 [ 0.68214725  0.31785275]
 [ 0.80786952  0.19213048]
 [ 0.7876663   0.2123337 ]
 [ 0.82339724  0.17660276]
 [ 0.89939768  0.10060232]
 [ 0.89881276  0.10118724]
 [ 0.86301741  0.13698259]
 [ 0.70415284  0.29584716]
 [ 0.96916866  0.03083134]
 [ 0.94739807  0.05260193]
 [ 0.91552953  0.08447047]
 [ 0.88708625  0.11291375]
 [ 0.88203412  0.11796588]
 [ 0.7920057   0.2079943 ]
 [ 0.66274764  0.33725236]
 [ 0.95160703  0.04839297]
 [ 0.62465198  0.37534802]
 [ 0.65812272  0.34187728]
 [ 0.95248349  0.04751651]
 [ 0.79832066  0.20167934]
 [ 0.88102502  0.11897498]
 [ 0.78828184  0.21171816]
 [ 0.87436455  0.12563545]
 [ 0.84374076  0.15625924]
 [ 0.66356344  0.33643656]
 [ 0.91992017  0.08007983]
 [ 0.88369491  0.11630509]]

In [33]:
print (metrics.accuracy_score(y_test, predicted))
print (metrics.roc_auc_score(y_test, probs[:, 1]))

0.843537414966
0.65379283789

In [34]:
print (metrics.confusion_matrix(y_test, predicted))
print (metrics.classification_report(y_test, predicted))

[[371   0]
 [ 69   1]]
             precision    recall  f1-score   support

        0.0       0.84      1.00      0.91       371
        1.0       1.00      0.01      0.03        70

avg / total       0.87      0.84      0.77       441

In [35]:
print (X_train)

      Intercept  Department[T.Research & Development]  Department[T.Sales]  \
338         1.0                                   0.0                  1.0
363         1.0                                   0.0                  1.0
759         1.0                                   0.0                  0.0
793         1.0                                   1.0                  0.0
581         1.0                                   1.0                  0.0
320         1.0                                   0.0                  1.0
452         1.0                                   0.0                  1.0
195         1.0                                   1.0                  0.0
776         1.0                                   0.0                  1.0
1295        1.0                                   0.0                  1.0
70          1.0                                   0.0                  1.0
1135        1.0                                   0.0                  1.0
1011        1.0                                   0.0                  1.0
10          1.0                                   1.0                  0.0
1265        1.0                                   1.0                  0.0
1270        1.0                                   0.0                  1.0
1257        1.0                                   0.0                  1.0
271         1.0                                   1.0                  0.0
858         1.0                                   1.0                  0.0
790         1.0                                   1.0                  0.0
1290        1.0                                   1.0                  0.0
915         1.0                                   1.0                  0.0
64          1.0                                   1.0                  0.0
959         1.0                                   1.0                  0.0
1274        1.0                                   0.0                  1.0
1394        1.0                                   1.0                  0.0
1109        1.0                                   0.0                  1.0
416         1.0                                   1.0                  0.0
1234        1.0                                   0.0                  1.0
687         1.0                                   1.0                  0.0
...         ...                                   ...                  ...
1445        1.0                                   1.0                  0.0
1201        1.0                                   1.0                  0.0
99          1.0                                   1.0                  0.0
850         1.0                                   0.0                  1.0
448         1.0                                   1.0                  0.0
755         1.0                                   0.0                  1.0
976         1.0                                   1.0                  0.0
115         1.0                                   0.0                  1.0
777         1.0                                   1.0                  0.0
72          1.0                                   1.0                  0.0
845         1.0                                   1.0                  0.0
537         1.0                                   1.0                  0.0
849         1.0                                   0.0                  1.0
174         1.0                                   0.0                  1.0
87          1.0                                   1.0                  0.0
551         1.0                                   0.0                  0.0
705         1.0                                   0.0                  1.0
314         1.0                                   1.0                  0.0
1420        1.0                                   1.0                  0.0
600         1.0                                   1.0                  0.0
1094        1.0                                   0.0                  1.0
599         1.0                                   0.0                  0.0
277         1.0                                   0.0                  1.0
1033        1.0                                   1.0                  0.0
1383        1.0                                   1.0                  0.0
763         1.0                                   0.0                  1.0
835         1.0                                   0.0                  0.0
1216        1.0                                   0.0                  1.0
559         1.0                                   1.0                  0.0
684         1.0                                   0.0                  1.0

       Age  BusinessTravel  DailyRate  DistanceFromHome  Education  \
338   30.0             1.0      570.0               5.0        3.0
363   33.0             1.0      350.0               5.0        3.0
759   45.0             1.0      788.0              24.0        4.0
793   28.0             1.0      895.0              15.0        2.0
581   30.0             1.0      921.0               1.0        3.0
320   27.0             1.0     1377.0               2.0        3.0
452   45.0             1.0      561.0               2.0        3.0
195   37.0             1.0      290.0              21.0        3.0
776   20.0             2.0      769.0               9.0        3.0
1295  41.0             1.0      796.0               4.0        1.0
70    59.0             2.0     1225.0               1.0        1.0
1135  46.0             1.0      563.0               1.0        4.0
1011  36.0             1.0     1174.0               3.0        4.0
10    35.0             1.0      809.0              16.0        3.0
1265  33.0             3.0      775.0               4.0        3.0
1270  34.0             1.0      511.0               3.0        2.0
1257  31.0             1.0     1079.0              16.0        4.0
271   47.0             3.0      666.0              29.0        4.0
858   53.0             1.0     1223.0               7.0        2.0
790   33.0             1.0      654.0               5.0        3.0
1290  34.0             2.0      234.0               9.0        4.0
915   21.0             2.0      251.0              10.0        2.0
64    36.0             1.0     1223.0               8.0        3.0
959   40.0             1.0      523.0               2.0        3.0
1274  31.0             1.0      196.0              29.0        4.0
1394  32.0             1.0     1373.0               5.0        4.0
1109  30.0             1.0     1288.0              29.0        4.0
416   38.0             2.0     1490.0               2.0        2.0
1234  47.0             3.0      543.0               2.0        4.0
687   36.0             1.0      938.0               2.0        4.0
...    ...             ...        ...               ...        ...
1445  41.0             1.0      582.0              28.0        4.0
1201  23.0             1.0     1320.0               8.0        1.0
99    44.0             3.0      489.0              23.0        3.0
850   32.0             3.0      862.0               2.0        1.0
448   40.0             1.0      302.0               6.0        3.0
755   45.0             1.0     1234.0              11.0        2.0
976   56.0             1.0     1369.0              23.0        3.0
115   37.0             1.0     1189.0               3.0        3.0
777   21.0             1.0     1334.0              10.0        3.0
72    31.0             1.0     1082.0               1.0        4.0
845   40.0             2.0      902.0              26.0        2.0
537   27.0             2.0      294.0              10.0        2.0
849   43.0             1.0     1372.0               9.0        3.0
174   45.0             1.0     1268.0               4.0        2.0
87    51.0             1.0      432.0               9.0        4.0
551   39.0             1.0      141.0               3.0        3.0
705   39.0             1.0      903.0               2.0        5.0
314   39.0             1.0      117.0              10.0        1.0
1420  41.0             1.0      642.0               1.0        3.0
600   32.0             1.0      859.0               4.0        3.0
1094  40.0             1.0     1342.0               9.0        2.0
599   36.0             1.0     1041.0              13.0        3.0
277   38.0             1.0      322.0               7.0        2.0
1033  31.0             2.0     1445.0               1.0        5.0
1383  36.0             3.0     1351.0               9.0        4.0
763   34.0             1.0     1333.0              10.0        4.0
835   35.0             1.0      528.0               8.0        4.0
1216  43.0             1.0     1179.0               2.0        3.0
559   38.0             1.0      268.0               2.0        5.0
684   40.0             1.0      658.0              10.0        4.0

      EducationField  YearsAtCompany
338              3.0            10.0
363              3.0             1.0
759              2.0             6.0
793              1.0             4.0
581              1.0             2.0
320              1.0             5.0
452              4.0             8.0
195              1.0             8.0
776              3.0             2.0
1295             3.0            22.0
70               1.0             4.0
1135             1.0            26.0
1011             3.0             5.0
10               2.0             5.0
1265             5.0             9.0
1270             1.0             2.0
1257             3.0             1.0
271              1.0            10.0
858              2.0             7.0
790              1.0             3.0
1290             1.0             7.0
915              1.0             2.0
64               5.0            17.0
959              1.0             9.0
1274             3.0            12.0
1394             1.0             1.0
1109             5.0             4.0
416              1.0             1.0
1234             3.0             1.0
687              2.0            11.0
...              ...             ...
1445             1.0            20.0
1201             2.0             5.0
99               2.0             3.0
850              1.0             1.0
448              1.0            20.0
755              1.0             9.0
976              1.0            19.0
115              1.0             5.0
777              1.0             1.0
72               2.0             1.0
845              2.0             1.0
537              1.0             9.0
849              3.0             4.0
174              1.0             5.0
87               1.0             4.0
551              6.0             8.0
705              1.0             8.0
314              2.0            21.0
1420             1.0             5.0
600              1.0            14.0
1094             2.0             8.0
599              6.0             5.0
277              2.0             8.0
1033             1.0            10.0
1383             1.0             5.0
763              1.0             1.0
835              5.0             5.0
1216             2.0            10.0
559              2.0             1.0
684              3.0             1.0

[1029 rows x 10 columns]

In [39]:
#add random values to KK according to the parameters mentioned above to check the proabily of attrition 
#of the employee
#kk=[[1.0, 23.0, 1.0, 500.0, 3.0, 24.0, 1.0, 1.0, 1.5]]
kk=[[1.0, 23.0, 1.0, 500.0, 3.0, 24.0, 1.0, 1.0, 1.5, 0.0]]
print(model.predict_proba(kk))

[[  1.00000000e+00   1.86644576e-11]]